<!DOCTYPE html>
<html lang="ro">
    <head>
        <%- include("../fragments/head.ejs")%>

        <title>Biblioteca - Meniu</title>
    </head>
    <body id="main-menu">
        <%- include("../fragments/header.ejs")%>

        <%- include("../fragments/footer.ejs")%>
    </body>
</html>