<!DOCTYPE html>
<html>
    <head>
        <%- include("../fragments/head.ejs")%>

        <title>Titlu</title>
    </head>
    <body>
        <%- include("../fragments/header.ejs")%>
        
        <main>
        </main>

        <%- include("../fragments/footer.ejs")%>
    </body>
</html>