<!DOCTYPE html>
<html>
    <head>
        <%- include("../fragments/head.ejs")%>

        <title>Toate tabelele</title>
    </head>
    <body>
        <%- include("../fragments/header.ejs")%>
        
        <main>
            <div>
                <% for(let table of locals.table_names) { %>
                    <li><%- table %></li>
                <% } %>
            </div>
        </main>

        <%- include("../fragments/footer.ejs")%>
    </body>
</html>