<header>
    <h1>
        <div>Baza</div>
        <div>de</div>
        <div>date</div>
        <div>a</div>
        <div>unei</div>
        <div>biblioteci</div>
    </h1>
    <nav>
        <ul>
            <li><a href="/tables">Toate tabelele</a></li>
            <li><a href="/">Tabele specifice</a></li>
            <li><a href="/">Interogări speciale</a></li>
            <li><a href="/">Vizualizări</a></li>
        </ul>
    </nav>
</header>